<?xml version="1.0" encoding="utf-8"?>
<dataConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.3.7627.0">
	<connectionStrings>
		<add connectionString="data source=DESKTOP-7JKJVRF\SQLEXPRESS;UID=sa1;PWD=Bignanaqaz123;initial catalog=SitefinityDB" name="Sitefinity" />
	</connectionStrings>
</dataConfig>